frame1l.png
frame1r.png
frame2l.png
frame2r.png
frame3l.png
frame3r.png
frame4l.png
frame4r.png
frame5l.png
frame5r.png
frame6l.png
frame6r.png
frame7l.png
frame7r.png
frame8l.png
frame8r.png
frame9l.png
frame9r.png
frame10l.png
frame10r.png
frame11l.png
frame11r.png
frame12l.png
frame12r.png
calculate-height.cpp
sample_original.avi
sample2_original.avi
